@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is simple MVC web app using following tools and frameworks : .NET Core 3.1, Entity Framework and Bootstrap</a>.</p>
        
    </div>
